@import 'vars';
@import 'mixin';
@import 'tailwind';
@import 'scrollbar';
@import 'prism';
@import 'icons';
@import 'layout';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* @link https://utopia.fyi/type/calculator?c=320,14,1.125,700,18,1.125,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step 0: 14.00px → 18.00px */
  --step-0: clamp(0.88rem, calc(0.66rem + 1.05vw), 1.13rem);

  /* Step 1: 15.75px → 20.25px */
  --step-1: clamp(0.98rem, calc(0.75rem + 1.18vw), 1.27rem);

  /* Step 2: 17.72px → 22.78px */
  --step-2: clamp(1.11rem, calc(0.84rem + 1.33vw), 1.42rem);

  /* Step 3: 19.93px → 25.63px */
  --step-3: clamp(1.25rem, calc(0.95rem + 1.5vw), 1.6rem);

  /* Step 4: 22.43px → 28.83px */
  --step-4: clamp(1.4rem, calc(1.07rem + 1.68vw), 1.8rem);

  /* Step 5: 25.23px → 32.44px */
  --step-5: clamp(1.58rem, calc(1.2rem + 1.9vw), 2.03rem);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.hover-underline {
  // bg-blue-500
  --color: rgb(59, 130, 246);
  --b1: 0 0% 100%;
  
  .dark & {
    --b1: 240 3% 11%;

  }
  // background: linear-gradient(transparent 50%, rgba(var(--color), 1) 50%);
  // background-position: 0 100%;
  // transition: background-position 0.3s ease-in-out;
  // background-size: 0 0;
  color: currentColor;
  background-image: linear-gradient(var(--color),var(--color));
  background-size: 0 1.5px;
  background-repeat: no-repeat;
  text-shadow: .05em 0 hsl(var(--b1)/1),-.05em 0 hsl(var(--b1)/1);
  transition: all .5s ease;
  border-width: 0;
  text-decoration-line: none;
  background-position: left 1.6em;
  &:hover{
    background-size: 100% 1.5px;
    transition: all .25s ease;
  }
}
html,body{
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  .dark & {
    background: rgb(27, 27, 29);
  }
}
