@import 'mixin';
.blog-container {
  max-width: 100%;
  width: 100%;
  @include respond-above(xl) {
    max-width: 992px;
  }
}
.sidebar {
  width: 100%;
  @include respond-above(xl){
    width: 200px;
  }
}

