
.markdown-body {
  @apply text-base break-words leading-8 prose dark:prose-invert max-w-none;

  // Heading
  .anchor {
    @apply text-zinc-900 no-underline;
    &:hover::after {
      @apply text-gray-500/50 font-normal;
      content: ' #';
    }
  }

  // Paragraph
  p {
    @apply my-2;
  }

  // Blockquote
  blockquote {
    @apply relative rounded-md my-12 px-8 text-slate-500  italic;
    &::before {
      @apply absolute -top-6 left-0 w-10 h-10 bg-contain bg-bottom bg-no-repeat;
      content: '';
      background-image: url('/quote-l.svg');
    }
    &::after {
      @apply absolute -top-6 right-0 w-10 h-10 bg-contain bg-bottom bg-no-repeat;
      content: '';
      background-image: url('/quote-r.svg');
    }
  }

  .code-highlight {
    @apply leading-normal;
    
    // background:rgb(27, 27, 29)
  }
  .highlight-words{
    @apply dark:text-white;
  }

  // Emphasis
  em {
    @apply opacity-80;
  }

  // Admonition
  .admonition {
    @apply relative px-8 py-px -mx-0 sm:-mx-[1.5ch] my-12 sm:rounded-[3px] border-l-[3px];
    ul,
    ol {
      @apply pl-0;
    }
    &::before {
      @apply absolute hidden sm:block bg-white rounded-full -left-[26.5px] -top-[25px] w-[50px] h-[50px];
    }
    &.tip {
      @apply bg-blue-300/30 border-blue-600;
      &::before {
        content: url('/tip.svg');
      }
    }
    &.warning {
      @apply bg-yellow-300/30 border-yellow-400;
      &::before {
        content: url('/warning.svg');
      }
    }
    &.danger {
      @apply bg-rose-300/30 border-rose-500;
      &::before {
        content: url('/danger.svg');
      }
    }
  }

  // Image
  img {
    @apply relative max-w-full h-auto align-middle;
  }

  // Link
  a:not([class~='anchor']) {
    @apply text-primary underline font-medium hover:brightness-75 transition;
    code {
      @apply text-current;
    }
  }

  // Table
  table {
    @apply w-full my-8 text-left border-collapse;
    thead,
    tbody tr:not(:last-child) {
      @apply border-b border-slate-200/50;
    }
    th {
      @apply p-2.5 whitespace-nowrap;
    }
    td {
      @apply p-2.5;
    }
  }

  // List
  ul,
  ol {
    @apply my-6 pl-4;
    p {
      @apply m-0;
    }
  }
  ul {
    // list-style: disc;
    > li {
      &::marker {
        @apply mr-2 font-medium text-primary;
        content: '•';
      }
    }
  }
  ol {
    // counter-reset: list-item 1;
    > li {
      counter-increment: list-item;
      &::marker {
        @apply mr-2 text-primary font-medium;
        content: counter(list-item) '. ';
        min-width: 20px;
        font-feature-settings: 'tnum';
      }
    }
  }
}

// KeyBoard
kbd {
  position: relative;
  display: inline-block;
  min-width: 1em;
  padding: 0.2em 0.3em;
  font: normal 0.85em/1 'Lucida Grande', Lucida, Arial, sans-serif;
  text-align: center;
  border-radius: 0.3em;
  border: none;
  user-select: none;

  background: linear-gradient(to bottom, rgb(60, 60, 60), rgb(80, 80, 80));
  color: rgb(250, 250, 250);
  box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30), 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  top: -0.1em;
}
